
.content-page {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container{
    display: flex;
    width: 100%;
    max-width: 1300px;

    &_carousel {
        display: flex;
        flex-direction: column;
        padding: 20px;
        width: 70%;

        .btn-left{
            border: transparent;
            position: absolute;
            top: 350px;
            z-index: 1;
            border-radius: 50%;
            width: 25px;
            height: 25px;
            font-size: 10px;
            left: 150px;
            background: #23393d;
            color: #ffffff;
            
        }

        .btn-right {
            position: absolute;
            top: 350px;
            right: 540px;
            z-index: 1;
            border: transparent;
            border-radius: 50%;
            width: 25px;
            height: 25px;
            font-size: 10px;
            color: #ffffff;
            background: #23393d;
        }


    }

    &_description {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 40px 20px;
        width: 30%;

        .contact-owner {
            display: flex;
            background-color: #294246;
            padding: 20px;
            height: 420px;
            width: 100%;
            border-color: transparent;
            border-radius: 8px;
        
            &_container {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                width: 100%;

                .title-contact {
                    display: flex;
                    font-size: 20px;

                    h3{
                        color: #ffffff;
                    }
                }

                input[type="number"] {
                    width: 100%;
                    border-color: transparent;
                    border-radius: 3px;
                }

                input[type="email"] {
                    width: 100%;
                    border-color: transparent;
                    border-radius: 3px;
                }

                .contact-message {
                    display: flex;
                    width: 100%;

                    input[type="textarea"] {
                        width: 100%;
                        height: 80px;
                        border-color: transparent;
                        border-radius: 3px;
                    }
                }
            }
        
        }

    }
}

.alice-carousel {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    margin: auto;
    direction: ltr;
    height: auto;
}

.carousel-imgs {
    width: 100%;
    height: 400px;

    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}


.mini_container-imgs-mini {
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding: 20px 0;
}

.mini_container-list-imgs {
    display: flex;
    width: 100%;
}

.mini {
    display: flex;
    width: 100%;
}

.mini_images {
    width: 95%;
    height: 100px;
    object-fit: cover;
}


.vehicle-data-box {
    display: flex;
    width: 100%;
    max-width: 1300px;
    flex-direction: column;
    align-items: center;

    .data-title {
        display: flex;
        justify-content: center;
        margin-bottom: 18px;

        h2 {
            font-size: 22px;
            font-weight: 700;
        }
    }

    .row-data {
        display: flex;
        width: 600px;
        justify-content: space-between;
        margin-bottom: 20px;
        border-bottom: 1px solid;

        h3 {
            color: #959595;
            font-weight: 600;
            font-size: 16px;
        }
    }
}
